{{ 'section-footer.css' | asset_url | stylesheet_tag }}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  <div class="footer__inner page-width">
    
    <div class="footer__top">
      <div class="footer__left">
        {%- if settings.logo != blank -%}
          <a href="{{ routes.root_url }}" class="footer__logo-link">
            {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
            {{ settings.logo | image_url: width: 400 | image_tag: 
              class: 'footer__logo',
              width: settings.logo_width,
              height: logo_height,
              alt: settings.logo.alt | default: shop.name | escape 
            }}
          </a>
        {%- else -%}
          <h2 class="h2 footer__logo-text">{{ shop.name }}</h2>
        {%- endif -%}

        <div class="footer__brand-description">
          <p>Discover {{ shop.name }}—the store designed for the commerce community. Our store runs on <a href="#" style="text-decoration: underline;">Liquid</a>, Shopify’s React-based headless commerce stack, deployed on <a href="#" style="text-decoration: underline;">Oxygen</a>.</p>
        </div>
      </div>

      <div class="footer__right">
        <div class="footer__social-heading">
          <h3>We would love to see you socially.</h3>
          <p>Tag us @{{ shop.name | remove: " " | remove: "'" }} when you share</p>
        </div>
        
        <div class="footer__social-grid">
          <a href="{{ settings.social_twitter_link | default: '#' }}" class="footer__social-link" aria-label="X">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="icon icon-x"><path d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932ZM17.61 20.644h2.039L6.486 3.24H4.298Z" fill="currentColor"></path></svg>
          </a>
          <a href="{{ settings.social_facebook_link | default: '#' }}" class="footer__social-link" aria-label="Facebook">
            <svg viewBox="0 0 18 18" class="icon icon-facebook" width="24" height="24"><path fill="currentColor" d="M16.42.61c.27 0 .5.1.69.28.19.2.28.42.28.7v15.44c0 .27-.1.5-.28.69a.94.94 0 01-.7.28h-4.39v-6.7h2.25l.31-2.65h-2.56v-1.7c0-.4.1-.71.28-.96.18-.25.5-.38.97-.38h1.3V3.13c-.45-.06-1.1-.1-1.92-.1-1.12 0-2 .32-2.62.97-.62.65-.93 1.55-.93 2.72v2v.5h-2.28v2.66h2.28v6.7H.97a.94.94 0 01-.7-.28.94.94 0 01-.28-.7V1.59c0-.28.1-.5.28-.7.19-.18.42-.28.7-.28h15.45z"></path></svg>
          </a>
          <a href="{{ settings.social_linkedin_link | default: '#' }}" class="footer__social-link" aria-label="LinkedIn">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="icon icon-linkedin"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.98 3.5c0 1.381-1.119 2.5-2.5 2.5s-2.5-1.119-2.5-2.5 1.119-2.5 2.5-2.5 2.5 1.119 2.5 2.5zm-4.66 4.908V24h4.312V8.408H.32zM15.485 8c-2.31 0-3.344 1.258-3.921 2.146V8.408h-4.312V24h4.312v-8.723c0-2.342.443-4.608 3.328-4.608 2.84 0 2.885 2.682 2.885 4.755V24h4.312v-9.45c0-5.234-1.125-6.55-6.604-6.55z" fill="currentColor"></path></svg>
          </a>
          <a href="#" class="footer__social-link" aria-label="Copy Link">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="icon icon-link"><path d="M12.9 6.81a4 4 0 0 1 5.4.15l1.65 1.63a4 4 0 0 1-5.65 5.65l-1.03-1.02a1 1 0 1 0-1.42 1.4L12.9 15.65a6 6 0 0 0 8.48-8.48l-1.65-1.63a6 6 0 0 0-8.48 0l-1.6 1.62a1 1 0 1 0 1.42 1.42l1.61-1.63L12.9 6.8z" fill="currentColor"/><path d="M11.1 17.18a4 4 0 0 1-5.4-.14L4.05 15.4a4 4 0 0 1 5.65-5.65l1.03 1.01a1 1 0 1 0 1.42-1.4L11.1 8.34a6 6 0 0 0-8.48 8.48l1.65 1.64a6 6 0 0 0 8.48 0l1.6-1.62a1 1 0 1 0-1.42-1.42L11.1 17.18z" fill="currentColor"/></svg>
          </a>
        </div>
      </div>
    </div>

    <div class="footer__bottom">
      <ul class="footer__bottom-links list-unstyled">
        <li><a href="/pages/faqs">FAQs</a></li>
        <li><a href="/pages/shipping-and-returns">Shipping and returns</a></li>
        <li><a href="/pages/terms-of-service">Terms of service</a></li>
        <li><a href="/pages/privacy-policy">Privacy policy</a></li>
        <li><a href="#">Built using Liquid</a></li>
      </ul>
      
      <div class="footer__powered">
        <span style="font-style: italic; font-size: 1.2rem;">powered by </span>
        <svg xmlns="http://www.w3.org/2000/svg" width="120" height="32" viewBox="0 0 149 42" fill="none"><path d="M38.228 15.6652C38.7285 15.6652 38.9509 16.0502 38.7285 16.5452L29.4412 36.1802C29.2188 36.6752 28.6071 37.0602 28.1066 37.0602H12.8688C12.8132 37.0602 12.702 37.1152 12.6464 37.1152L1.0234 41.7902C0.300445 42.0652 -0.200065 41.6252 0.0779958 40.9652L16.8173 5.49021C16.9841 5.16021 17.3178 4.83021 17.7071 4.66521L28.8295 0.210209C29.5525 -0.064794 30.1086 0.375207 29.7749 1.03521L23.1015 15.1702C22.9902 15.4452 23.0458 15.6652 23.3239 15.6652H38.228ZM26.1601 20.1202C26.327 19.8452 26.2157 19.6802 25.9377 19.6802H21.4331C21.155 19.6802 20.877 19.8452 20.7657 20.1202L14.8708 32.6052C14.7596 32.8802 14.8708 33.0452 15.0933 33.0452H19.6535C19.8759 33.0452 20.154 32.8802 20.2652 32.6052L26.1601 20.1202Z" fill="white"></path><path d="M67.4094 15.6652C67.9099 15.6652 68.1323 16.0502 67.9099 16.5452L58.6227 36.1802C58.4002 36.6752 57.7885 37.0602 57.288 37.0602H32.04C31.5395 37.0602 31.317 36.6752 31.5395 36.1802L40.8267 16.5452C41.0492 16.0502 41.6609 15.6652 42.1614 15.6652H67.4094ZM55.3971 20.1202C55.5084 19.8452 55.3971 19.6802 55.1191 19.6802H50.6145C50.392 19.6802 50.0584 19.8452 49.9471 20.1202L44.0522 32.6052C43.941 32.8802 44.0522 33.0452 44.3303 33.0452H48.8349C49.0573 33.0452 49.391 32.8802 49.5022 32.6052L55.3971 20.1202Z" fill="white"></path><path d="M96.6021 15.6652C97.1026 15.6652 97.325 16.0502 97.1026 16.5452L87.8153 36.1802C87.5929 36.6752 86.9812 37.0602 86.4807 37.0602H61.2327C60.7322 37.0602 60.5097 36.6752 60.7322 36.1802L70.0194 16.5452C70.2419 16.0502 70.8536 15.6652 71.3541 15.6652H80.3633C80.8638 15.6652 81.0863 16.0502 80.8638 16.5452L73.2449 32.6052C73.1337 32.8802 73.2449 33.0452 73.523 33.0452H78.0276C78.25 33.0452 78.5837 32.8802 78.6949 32.6052L86.2582 16.5452C86.4807 16.0502 87.0924 15.6652 87.5929 15.6652H96.6021Z" fill="white"></path><path d="M116.396 0.210209C117.175 -0.064794 117.675 0.375207 117.342 1.03521L100.769 36.1802C100.547 36.6752 99.9351 37.0602 99.4346 37.0602H90.4254C89.9249 37.0602 89.7025 36.6752 89.9249 36.1802L104.384 5.49021C104.551 5.16021 104.885 4.83021 105.274 4.66521L116.396 0.210209Z" fill="white"></path><path d="M147.437 0.210209C148.16 -0.064794 148.661 0.375207 148.327 1.03521L131.588 36.5102C131.421 36.8402 131.087 37.1702 130.754 37.3352L119.576 41.7902C118.853 42.0652 118.352 41.6252 118.686 40.9652L120.298 37.5002C120.41 37.2802 120.298 37.0602 120.076 37.0602H105.172C104.671 37.0602 104.449 36.6752 104.671 36.1802L113.959 16.5452C114.181 16.0502 114.793 15.6652 115.293 15.6652H130.142C130.42 15.6652 130.698 15.4452 130.809 15.1702L135.425 5.49021C135.592 5.16021 135.926 4.83021 136.259 4.66521L147.437 0.210209ZM128.529 20.1202C128.64 19.8452 128.529 19.6802 128.251 19.6802H123.746C123.524 19.6802 123.19 19.8452 123.079 20.1202L117.184 32.6052C117.073 32.8802 117.184 33.0452 117.462 33.0452H121.967C122.189 33.0452 122.523 32.8802 122.634 32.6052L128.529 20.1202Z" fill="white"></path></svg>
      </div>
    </div>
    
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-4"
    },
    {
      "type": "header",
      "content": "Spacer/Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}
