{{ 'section-footer.css' | asset_url | stylesheet_tag }}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  <div class="footer__inner page-width">
    
    <div class="footer__top">
      <div class="footer__left">
        {%- if settings.logo != blank -%}
          <a href="{{ routes.root_url }}" class="footer__logo-link">
            {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
            {{ settings.logo | image_url: width: 400 | image_tag: 
              class: 'footer__logo',
              width: settings.logo_width,
              height: logo_height,
              alt: settings.logo.alt | default: shop.name | escape 
            }}
          </a>
        {%- else -%}
          <h2 class="h2 footer__logo-text">{{ shop.name }}</h2>
        {%- endif -%}

        <div class="footer__brand-description">
          <p>Discover {{ shop.name }}—the store designed for the commerce community. Our store runs on <a href="#" style="text-decoration: underline;">Hydrogen</a>, Shopify’s React-based headless commerce stack, deployed on <a href="#" style="text-decoration: underline;">Oxygen</a>.</p>
        </div>
      </div>

      <div class="footer__right">
        <div class="footer__social-heading">
          <h3>We would love to see you socially.</h3>
          <p>Tag us @{{ shop.name | remove: " " | remove: "'" }} when you share</p>
        </div>
        
        <div class="footer__social-grid">
          <a href="{{ settings.social_twitter_link | default: '#' }}" class="footer__social-link" aria-label="X">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="icon icon-x"><path d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932ZM17.61 20.644h2.039L6.486 3.24H4.298Z" fill="currentColor"></path></svg>
          </a>
          <a href="{{ settings.social_facebook_link | default: '#' }}" class="footer__social-link" aria-label="Facebook">
            <svg viewBox="0 0 18 18" class="icon icon-facebook" width="24" height="24"><path fill="currentColor" d="M16.42.61c.27 0 .5.1.69.28.19.2.28.42.28.7v15.44c0 .27-.1.5-.28.69a.94.94 0 01-.7.28h-4.39v-6.7h2.25l.31-2.65h-2.56v-1.7c0-.4.1-.71.28-.96.18-.25.5-.38.97-.38h1.3V3.13c-.45-.06-1.1-.1-1.92-.1-1.12 0-2 .32-2.62.97-.62.65-.93 1.55-.93 2.72v2v.5h-2.28v2.66h2.28v6.7H.97a.94.94 0 01-.7-.28.94.94 0 01-.28-.7V1.59c0-.28.1-.5.28-.7.19-.18.42-.28.7-.28h15.45z"></path></svg>
          </a>
          <a href="{{ settings.social_linkedin_link | default: '#' }}" class="footer__social-link" aria-label="LinkedIn">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="icon icon-linkedin"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.98 3.5c0 1.381-1.119 2.5-2.5 2.5s-2.5-1.119-2.5-2.5 1.119-2.5 2.5-2.5 2.5 1.119 2.5 2.5zm-4.66 4.908V24h4.312V8.408H.32zM15.485 8c-2.31 0-3.344 1.258-3.921 2.146V8.408h-4.312V24h4.312v-8.723c0-2.342.443-4.608 3.328-4.608 2.84 0 2.885 2.682 2.885 4.755V24h4.312v-9.45c0-5.234-1.125-6.55-6.604-6.55z" fill="currentColor"></path></svg>
          </a>
          <a href="#" class="footer__social-link" aria-label="Copy Link">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="icon icon-link"><path d="M12.9 6.81a4 4 0 0 1 5.4.15l1.65 1.63a4 4 0 0 1-5.65 5.65l-1.03-1.02a1 1 0 1 0-1.42 1.4L12.9 15.65a6 6 0 0 0 8.48-8.48l-1.65-1.63a6 6 0 0 0-8.48 0l-1.6 1.62a1 1 0 1 0 1.42 1.42l1.61-1.63L12.9 6.8z" fill="currentColor"/><path d="M11.1 17.18a4 4 0 0 1-5.4-.14L4.05 15.4a4 4 0 0 1 5.65-5.65l1.03 1.01a1 1 0 1 0 1.42-1.4L11.1 8.34a6 6 0 0 0-8.48 8.48l1.65 1.64a6 6 0 0 0 8.48 0l1.6-1.62a1 1 0 1 0-1.42-1.42L11.1 17.18z" fill="currentColor"/></svg>
          </a>
        </div>
      </div>
    </div>

    <div class="footer__bottom">
      <ul class="footer__bottom-links list-unstyled">
        <li><a href="/pages/faqs">FAQs</a></li>
        <li><a href="/pages/shipping-and-returns">Shipping and returns</a></li>
        <li><a href="/pages/terms-of-service">Terms of service</a></li>
        <li><a href="/pages/privacy-policy">Privacy policy</a></li>
        <li><a href="#">Built on Hydrogen</a></li>
      </ul>
      
      <div class="footer__powered">
        <span style="font-style: italic; font-size: 1.2rem;">powered by </span>
        {%- if settings.logo != blank -%}
          {{ settings.logo | image_url: width: 100 | image_tag: 
            class: 'footer__powered-logo',
            alt: settings.logo.alt | default: shop.name | escape 
          }}
        {%- else -%}
          <strong>{{ shop.name }}</strong>
        {%- endif -%}
      </div>
    </div>
    
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-4"
    },
    {
      "type": "header",
      "content": "Spacer/Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}
